<header>
    <div class="bg-video">
        <!-- <video class='video1' muted autoplay loop> -->
            <!-- <source src="videos/Website Promotional Video Template - After Effects Template.mp4#t=10,100" type="video/mp4"> -->
        <!-- </video> -->
        <video class="video2" src="videos/intro.webm" muted loop autoplay></video>
    </div>
</header>