<div class="col" ontouchstart="this.classList.toggle('hover');">
    <div class="container">
      <div class="front" style="background-image: url(https://unsplash.it/500/500/)">
        <div class="inner">
          <p><%- title %></p>
          <span><%- span %></span>
        </div>
      </div>
      <div class="back">
        <div class="inner">
          <p><%- description %></p>
        </div>
      </div>
    </div>
  </div>