<section class="features" id="services">
  <div class="features-left">
    <div
      class="card"
      data-aos="fade-left"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="1500"
    >
      <a href="/graphics/details"
        ><img src="/icons/graphic-designer.svg" alt=""
      /></a>
      <h2 class="card-heading">Graphic Designing</h2>
      <p class="card-description">
        Graphic design is a craft where professionals create visual content to
        communicate messages and focus on the logic of displaying elements in
        interactive designs, to optimize the user experience.
      </p>
    </div>
    <div
      class="card"
      data-aos="fade-left"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="1750"
    >
      <a href="#"><img src="/icons/after-effects.svg" /></a>
      <h2 class="card-heading">Video Editing</h2>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore
        corporis harum velit ducimus soluta laboriosam ipsam eum earum rem quis
        aliquid, quod hic! Fuga.
      </p>
    </div>
    <div
      class="card"
      data-aos="fade-left"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="2000"
    >
      <a href="#"><img src="/icons/megaphone.svg" alt="" /></a>
      <h2 class="card-heading">Digital Marketing</h2>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore
        corporis harum velit ducimus soluta laboriosam ipsam eum earum rem quis
        aliquid, quod hic! Fuga.
      </p>
    </div>
  </div>
  <img
    id="mobile"
    data-aos="fade-up"
    data-aos-duration="3000"
    data-aos-anchor-placement="top-bottom"
    src="/images/mobile.svg"
    alt="mobile"
  />
  <div class="features-right">
    <div
      class="card"
      data-aos="fade-right"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="1750"
    >
      <a href="#"><img src="/icons/www.svg" /></a>
      <h2 class="card-heading">Web Development</h2>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore
        corporis harum velit ducimus soluta laboriosam ipsam eum earum rem quis
        aliquid, quod hic! Fuga.
      </p>
    </div>
    <div
      class="card"
      data-aos="fade-right"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="1500"
    >
      <a href="/app/details"><img src="/icons/smartphone.svg" /></a>
      <h2 class="card-heading">App Development</h2>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore
        corporis harum velit ducimus soluta laboriosam ipsam eum earum rem quis
        aliquid, quod hic! Fuga.
      </p>
    </div>
    <div
      class="card"
      data-aos="fade-right"
      data-aos-anchor="#mobile"
      data-aos-offset="500"
      data-aos-duration="2000"
    >
      <a href="#"><i class="fab fa-unity"></i></a>
      <h2 class="card-heading">3D Modeling</h2>
      <p class="card-description">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A inventore
        corporis harum velit ducimus soluta laboriosam ipsam eum earum rem quis
        aliquid, quod hic! Fuga.
      </p>
    </div>
  </div>
</section>
