<header>
    <div class="bg-video">
        <video class='video1' muted autoplay loop>
            <source src="/videos/graphicstaan.mp4" type="video/mp4">
            </video>
            <!-- <video class="video2" src="videos/intro1.webm" muted loop autoplay></video> -->
        </div>
        <%- include('heading.ejs') %> 
</header>