<header>
    <div class="bg-video">
        <video class='video1' muted autoplay loop>
            <source src="/videos/graphicstaan.mp4" type="video/mp4">
            </video>
        </div>
</header>