<section class="team" id="team">
    <figure class="snip1447" data-aos="flip-down" data-aos-duration="1500" data-aos-anchor-placement="center-bottom">
        <img src="/images/team/aniemesh_gaur.jpeg" alt="sample87" />
        <figcaption><img src="/images/team/aniemesh_gaur.jpeg" alt="profile-sample4" class="profile" />
          <h2>Aniemesh Gaur<span>Founder & CEO</span></h2>
          <p>I'm looking for something that can deliver a 50-pound payload of snow on a small feminine target. Can you suggest something? Hello...? </p><a href="#" class="follow">Follow</a><a href="#" class="info">More Info</a>
        </figcaption>
      </figure>
      <figure class="snip1447 hover" data-aos="flip-down" data-aos-duration="1500" data-aos-anchor-placement="center-bottom"><img src="/images/team/simran_yadav.jpeg" alt="sample74" />
        <figcaption><img src="/images/team/simran_yadav.jpeg" alt="profile-sample2" class="profile" />
          <h2>Simran Yadav<span>Digital Marketing</span></h2>
          <p>Calvin: I'm a genius, but I'm a misunderstood genius. Hobbes: What's misunderstood about you? Calvin: Nobody thinks I'm a genius.</p><a href="#" class="follow">Follow</a><a href="#" class="info">More Info</a>
        </figcaption>
      </figure>
      <figure class="snip1447" data-aos="flip-down" data-aos-duration="1500" data-aos-anchor-placement="center-bottom"><img src="/images/team/saurav_changol.jpeg" alt="sample69" />
        <figcaption><img src="/images/team/saurav_changol.jpeg" alt="profile-sample5" class="profile" />
          <h2>Saurav Changol<span>Co-founder</span></h2>
          <p>If you want to stay dad you've got to polish your image. I think the image we need to create for you is "repentant but learning".</p><a href="#" class="follow">Follow</a><a href="#" class="info">More Info</a>
        </figcaption>
      </figure>
</section>