<section class="team" id="team">
  <figure
    class="snip1447"
    data-aos="flip-down"
    data-aos-duration="1500"
    data-aos-anchor-placement="center-bottom"
  >
    <img src="/images/team/aniemesh_gaur_cover.jpeg" alt="sample87" />
    <figcaption>
      <img
        src="/images/team/aniemesh_gaur.jpeg"
        alt="profile-sample4"
        class="profile"
      />
      <h2>Aniemesh Gaur<span>Founder & CEO</span></h2>
      <p>
        At Graphicstaan, we work hard so that you can meet your goals! We give
        platform to those who dare to make thier dreams to reality. #WeAimWow
      </p>
      <a href="https://www.instagram.com/aniee110/" class="follow">Follow</a
      ><a
        href="https://www.linkedin.com/in/animesh-dixit-633338122/"
        class="info"
        >More Info</a
      >
    </figcaption>
  </figure>
  <figure
    class="snip1447 hover"
    data-aos="flip-down"
    data-aos-duration="1500"
    data-aos-anchor-placement="center-bottom"
  >
    <img src="/images/team/simran_yadav_cover.jpeg" alt="sample74" />
    <figcaption>
      <img
        src="/images/team/simran_yadav.jpeg"
        alt="profile-sample2"
        class="profile"
      />
      <h2>Simran Yadav<span>Digital Marketing</span></h2>
      <p>
        "Content marketing is a commitment, not a campaign." <br />
        We @ Graphicstaan believe in commitments not on trash talking!
      </p>
      <a href="https://www.instagram.com/hey__sheena/" class="follow">Follow</a
      ><a href="https://www.behance.net/681998sheefead" class="info"
        >More Info</a
      >
    </figcaption>
  </figure>
  <figure
    class="snip1447"
    data-aos="flip-down"
    data-aos-duration="1500"
    data-aos-anchor-placement="center-bottom"
  >
    <img src="/images/team/saurav_changol_cover.jpeg" alt="sample69" />
    <figcaption>
      <img
        src="/images/team/saurav_changol.jpeg"
        alt="profile-sample5"
        class="profile"
      />
      <h2>Saurav Changol<span>Co-founder</span></h2>
      <p>
        #WeAimWow is not just another tag but a commitment to our clients. We
        deliver highest quality work with most affordable prices.
      </p>
      <a href="https://www.instagram.com/yankee_jatt07/" class="follow"
        >Follow</a
      ><a href="https://www.behance.net/sauravkumar6" class="info">More Info</a>
    </figcaption>
  </figure>
</section>
