<section
  class="testimonial"
  id="testimonials"
  data-aos-duration="1500"
  data-aos="zoom-out-up"
  data-aos-anchor-placement="center-bottom"
>
  <div id="testim" class="testim">
    <!--         <div class="testim-cover"> -->
    <div class="wrap">
      <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
      <span id="left-arrow" class="arrow left fa fa-chevron-left"></span>
      <ul id="testim-dots" class="dots">
        <li class="dot active"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
        <!--
                        -->
        <li class="dot"></li>
      </ul>
      <div id="testim-content" class="cont">
        <div class="active">
          <div class="img">
            <img
              src="/images/testimonials/face3.jpg"
              alt=""
            />
          </div>
          <h2>Anurag Jayant</h2>
          <p>
            Graphicstaan offers a powerful suite of tools that every business should opt for. And if
            you get stuck, their support team will help you out. I'm using Graphicstaan for all my website and graphics need!
          </p>
        </div>

        <div>
          <div class="img">
            <img
              src="/images/testimonials/face2.jpg"
              alt=""
            />
          </div>
          <h2>Shubham Gujral</h2>
          <p>
            When it comes to logo-designing and graphics related work, Graphicstaan is my #1 go-to station. Surely the website creators and graphics designers. 
          </p>
        </div>

        <div>
          <div class="img">
            <img
              src="/images/testimonials/face1.webp"
              alt=""
            />
          </div>
          <h2>Angelo Mathews</h2>
          <p>
            @Graphicstaan has changed the way I serve my customers. Anything you envision, they create it so easily and flawlessly. I can't imagine not working with @Graphicstaan.
          </p>
        </div>

        <div>
          <div class="img">
            <img
              src="/images/testimonials/face4.png"
              alt=""
            />
          </div>
          <h2>Shubham Khattar</h2>
          <p>
            Being a new startup I was a bit nervous if they could stand by their words, but they left me speechless. They knew exactly what I wished and delivered it beforehand. Looking forward to work again!
          </p>
        </div>

        <div>
          <div class="img">
            <img src="https://image.ibb.co/gUPag7/image.jpg" alt="" />
          </div>
          <h2>Aditya Tiwari</h2>
          <p>
            I was able to deliver the project on time only because of @Graphicstaan, the most reliable, fast, and affordable solution for your website and graphics work. Kudos to @Graphicstaan!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
