<div class="main">
    <div class="container">
      <div class="title textCenter ">
        <h2>Why Choose Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, laudantium.</p>
      </div>
      <div class="all flex">
        <div class="small-cont relativ">
          <section class="box1 relativ   flex" style="color: black;">
            <div class="slize">
              <div class="info-p1">
                <h2>Everyday Backups</h2>
                <p class="parag">Lorem, ipsum dolor sit amet consectetur<br>
                  adipisicing elit. Eligendi, sint<br>
                  adipisicing elit. Eligendi, sint.</p>
              </div>
            </div>
            <div class="slize">
              <div class="info-p2">
                <h2>Hi Quality Equlpment</h2>
                <p class="parag">Lorem, ipsum dolor sit amet consectetur<br>
                  adipisicing elit. Eligendi, sint<br>
                  adipisicing elit. Eligendi, sint.</p>
              </div>
            </div>
  
          </section>
  
          <div class="img-center textCenter">
            <div class="overlay">
              <div class="info">
                <h2>Quality & Professionalism</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum libero modi voluptatum recusandae alias, reprehenderit, minus, totam aperiam distinctio quaerat ipsa error soluta in dolorem minima voluptate assumenda odio perspiciatis dolorem minima voluptate assumenda odio perspiciatis dolorem minima voluptate assumenda odio perspiciatis.</p>
              </div>
            </div>
            <div class="img1"><img class="style hover animat" src="https://kinsta.com/wp-content/uploads/2014/12/wordpress-backups-2-1024x512.png" alt="" /></div>
            <div class=" img2"><img class="style hover animat" src="https://specials-images.forbesimg.com/imageserve/1166203002/960x0.jpg?fit=scale" alt="" /></div>
            <div class=" img3"><img class="style hover animat" src="https://www.wordfence.com/wp-content/uploads/2017/06/backups-300x150.png" alt="" /></div>
            <div class=" img4"><img class="style hover animat" src="https://static.bangkokpost.com/media/content/20190910/c1_1746699_190910111453.jpg" alt="" /></div>
          </div>
  
          <section class="box2  relativ flex" style="color: black;">
            <div class="slize">
              <div class="info-p3">
                <h2>Hi Quality dolor</h2>
                <p class="parag">Lorem, ipsum dolor sit amet consectetur<br>
                  adipisicing elit. Eligendi, sint<br>
                  adipisicing elit. Eligendi, sint.</p>
              </div>
            </div>
  
            <div class="slize">
              <div class="info-p4">
                <h2>Hi Quality libero</h2>
                <p class="parag">Lorem, ipsum dolor sit amet consectetur<br>
                  adipisicing elit. Eligendi, sint<br>
                  adipisicing elit. Eligendi, sint.</p>
              </div>
            </div>
          </section>
        </div>
      </div>
  
    </div>
  </div>