<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/default.css" />
    <% if(typeof stylesheets == 'object' && stylesheets) { %> <% for(var style
    of stylesheets){ %> <%- style %> <% } %> <% } %>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik:wght@400;500;900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/7fc87d8fcc.js"
      crossorigin="anonymous"
    ></script>
    <title>
      <%if(typeof title == 'string' && title){%> <%= title %> <% }else{ %> <%=
      'Graphicstaan' %> <% } %>
    </title>
  </head>
  <body class="dark_mode">
    <div class="preloader">
      <div class="loader">
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__bar"></div>
        <div class="loader__ball"></div>
      </div>
    </div>
  </body>
</html>
