<!-- <nav> -->
    <!-- <h2 class="nav-brand-name">Graphicstaan</h2> -->
    <!-- <img src="/images/brand.png" alt=""> -->
    <!-- <ul>
      <li>About</li>
      <li>Services</li>
      <li>Contact Us</li>
      <li>Meet The Team</li>
      <!-- <li><button class="btn nav-btn-login">Login With Mobile</button></li>
    </ul> -->
  <!-- </nav> -->
  <nav>
    <a href="/" class="logo">
        <img src="/images/logo_white.png" alt="brand logo">
    </a>
    <div class="hamburger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-links">
        <li><a href="/#about1">About</a></li>
        <li><a href="/#team">Team</a></li>
        <li><a href="/#services">Services</a></li>
        <li><a href="/#contact">Contact Us</a></li>
        <li><a href="/#testimonials">Testimonials</a></li>
        <!-- <li><button class="login-button" href="#">Login</button></li> -->
        <!-- <li><button class="toggleMode" href="#">Dark Mode</button></li> -->
    </ul>
</nav>